{{ form_start(form) }}

    {# Afficher les erreurs globales #}  

    {# Rendu des champs du formulaire #}
    {{ form_widget(form) }}

    {# Bouton de soumission #}
    <button type="submit" class="btn btn-primary">
        {{ button_label|default('Passez au niveau') }}
    </button>

{{ form_end(form) }}
