{% extends 'base.html.twig' %}

{% block title %}Edit Perso{% endblock %}

{% block body %}
    <h1>Edit Perso</h1>

    {{ include('perso/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_perso_index') }}">back to list</a>

    {{ include('perso/_delete_form.html.twig') }}
{% endblock %}
