{% extends 'base.html.twig' %}

{% block title %}New Perso{% endblock %}

{% block body %}
    <h1>Create new Perso</h1>

    {{ include('perso/_form.html.twig') }}

    <a href="{{ path('app_perso_index') }}">back to list</a>
{% endblock %}
